.subscribe-button{
    border: none;
    background-color: maroon;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}

.is-subscribed{
    background-color: lightgrey;
    color: black;
}

.cost-input{
    font-size: 15px;
    padding: 10px;
}

.calculate-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    margin: 12px 15px; /*bottom-top-padding left-right-padding*/
    cursor: pointer;
}