h1{
    color: white;
    background-color: maroon;
    padding: 5px;
    display: inline;
}
hr{
    color: maroon;
}
main{
    padding: 10px;
}
body{
    background-color:rgb(56, 55, 55);
    padding: 5px;
}

a{
    background-color: maroon;
    color: white;
    border-color: white;
    display:block;
    text-align: center;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 5px;
    background-origin:border-box;
    text-decoration-line:none;
    
}