body{
    background-color:rgb(56, 55, 55);
    color: white;
    padding: 5px;
    margin: 0;
    font-family: Arial;
}

.title{
    display: block;
    width: 100%;
    color: white;
    font-size: 30px;
    background-color: maroon;
    padding: 10px;
    display: block;
    margin: 0;
    text-align: left;
}

p{
    color: white;
}

main{
    padding: 5px;
}

a{
    background-color: maroon;
    color: white;
    border-color: white;
    display:block;
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 5px;
    background-origin:border-box;
    text-decoration-line:none;
    text-align: center;
    cursor: pointer;
}

button{
    background-color: maroon;
    color: white;
    border-color: white;
    /*display:block;
    width: 300px;*/
    padding: 10px;
    border: 5px;
    background-origin:border-box;
    text-decoration-line:none;
    cursor: pointer;
}

.title{
    display: block;
}